@model inz.Server.ViewModels.Users.DeleteViewModel

<div class="modal fade" id="deleteUserModal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteUserModalLabel">Potwierdź Usunięcie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                Czy na pewno chcesz usunąć użytkownika <strong>@Model.NameSurname</strong>?
                <br />
                Tej operacji nie można cofnąć.
            </div>
            <div class="modal-footer">
                <form asp-controller="UsersAdmin" asp-action="Delete" asp-route-id="@Model.Id" method="post">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Anuluj</button>
                    <button type="submit" class="btn btn-danger">Usuń</button>
                </form>
            </div>
        </div>
    </div>
</div>