@model inz.Server.ViewModels.Users.CreateViewModel

@{
    ViewBag.Title = "Dodaj użytkownika";
    Layout = "_AdminLayout";
}

<h2>Dodaj nowego użytkownika</h2>
<hr />

<div class="row">
    <div class="col-md-7">
        <form asp-action="Create" method="post">
            
            <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            
            <div class="mt-4">
                <button type="submit" class="btn btn-primary">Zapisz</button>
                <a asp-action="Index" class="btn btn-outline-secondary">Anuluj</a>
            </div>
        </form>
    </div>
</div>

