@model inz.Server.ViewModels.Users.ResetPasswordViewModel

@{
    ViewData["Title"] = "Resetowanie hasła";
    Layout = "_AdminLayout";
}

<h1 class="mb-4">Resetowanie Hasła</h1>

<div class="card shadow-sm">
    <div class="card-header">
        <h5 class="mb-0">Użytkownik: <span class="text-primary">@Model.NameSurname</span></h5>
    </div>
    <form asp-controller="UsersAdmin" asp-action="ResetPassword" asp-route-id="@Model.UserId" method="post">
        <div class="card-body">
            <div class="row">
                <div class="col-md-7">
                    <input type="hidden" asp-for="UserId"/>
                    <input type="hidden" asp-for="NameSurname"/>

                    <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                    <div class="mb-3">
                        <label asp-for="NewPassword" class="form-label"></label>
                        <input asp-for="NewPassword" class="form-control"/>
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="ConfirmPassword" class="form-label"></label>
                        <input asp-for="ConfirmPassword" class="form-control"/>
                        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>


                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a asp-controller="UsersAdmin" asp-action="UserDetails" asp-route-id="@Model.UserId"
               class="btn btn-outline-secondary">Anuluj</a>
            <button type="submit" class="btn btn-warning">Zresetuj Hasło</button>
        </div>
    </form>
</div>
