@model inz.Server.ViewModels.Documents.DocEditViewModel

@{
    ViewBag.Title = "Edytuj dokument";
    Layout = "_AdminLayout";
}

<h2 class="mb-4">Edytuj dokument</h2>

<div class="card shadow-sm">
    <div class="card shadow-sm">
        <form asp-action="Edit" asp-route-id="@Model.Id" method="post">
            <div class="card-body">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

                <input type="hidden" asp-for="Id"/>
                <input type="hidden" asp-for="OwnerId"/>

                <div class="mb-3">
                    <label asp-for="FileName" class="form-label"></label>
                    <input asp-for="FileName" class="form-control"/>
                    <span asp-validation-for="FileName" class="text-danger"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="PatientId" class="form-label"></label>
                    <select asp-for="PatientId" asp-items="@Model.PatientList" class="form-select">
                    </select>
                    <span asp-validation-for="PatientId" class="text-danger"></span>
                </div>
            </div>

            <div class="card-footer text-end">
                <a asp-action="Index" class="btn btn-outline-secondary">Anuluj</a>
                <button type="submit" class="btn btn-primary">Zapisz zmiany</button>
            </div>
        </form>
    </div>
</div>
