@model inz.Server.ViewModels.Rooms.RoomCreateViewModel

@{
    ViewBag.Title = "Dodaj nową salę";
    Layout = "_AdminLayout";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card shadow-sm">
            <form asp-action="Create" method="post">
                <div class="card-header">
                    <h4 class="mb-0">Nowa sala terapeutyczna</h4>
                </div>
                <div class="card-body">
                    <div asp-validation-summary="ModelOnly" class="alert alert-danger"></div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-label"></label>
                        <input asp-for="Name" class="form-control"/>
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="card-footer text-end">
                    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
                    <button type="submit" class="btn btn-primary">Zapisz</button>
                </div>
            </form>
        </div>
    </div>
</div>
